@use 'variables';
body {
    margin: 0;
    background-color: variables.$bg;
    color: var(--text);
}

header {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
}