@use 'variables';
body {
    margin: 0;
    background-color: variables.$bg;
    color: var(--text);

    // display: grid;
    // grid-template-rows: 100px auto;
}

#main-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    background-color: #424242;
    height: 70px;
}

// #root {
//     display: flex;
//     justify-content: center;
//     text-align: center;
// }

#main-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.state-working {
    color: blueviolet;
}

#inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
}